<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Page</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9; 
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            color: #4CAF50; 
            margin-top: 50px;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        
    </style>
</head>

<body>
    <h1>Here is Your Workout Progress</h1>
    <p>Check how far you've come in your fitness journey.</p>
    
</body>

</html>
