body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #007BFF;
}

form {
    margin-top: 1em;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input, select, textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}

li a {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #007BFF;
}

li a:hover {
    text-decoration: underline;
}

[id$="_details"] {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

button {
    background-color: #4CAF50; /* Green color */
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker green color on hover */
}
